.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: var(--brand-900);
  backdrop-filter: blur(1px);
  padding: 1.3rem 2rem;
  position: relative;
}

.contenHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.contentLogo {
  display: flex;
  align-items: center;
  gap: 3px;
  text-decoration: none;
}

.logo {
  width: 48px;
  height: 48px;
  border: 1px;
  border-radius: 16px;
  object-fit: cover;
}

.textLogo {
  color: var(--text);
  font-size: 24px;
}

.pointLogo {
  color: var(--brand-500);
}

.navbar {
  display: flex;
  gap: 32px;
}

.navbarLinks {
  text-decoration: none;
  color: var(--text);
}

.navbarLinks:hover {
  color: var(--brand-500);
}

.btnHeader {
  padding: 0.8rem 1.7rem;
  border: none;
  border-radius: 12px;
  background: var(--color-btn);
  color: var(--text);
  font-size: 16px;
  transition: 600ms;
  cursor: pointer;
}

.btnHeader:hover {
  scale: 1.04;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .navbar {
    gap: 20px;
  }

  .navbarLinks {
    font-size: 14px;
  }

  .btnHeader {
    padding: 0.7rem 1.3rem;
    font-size: 14px;
  }

  .textLogo {
    font-size: 20px;
  }

  .logo {
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--brand-900);
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    display: none;
  }

  .navbar.show {
    display: flex;
  }

  .btnHeader {
    display: none;
  }

  .header {
    padding: 1rem;
  }

  .textLogo {
    font-size: 18px;
  }

  .logo {
    width: 36px;
    height: 36px;
  }

  .hamburger {
    display: block;
  }
}