.service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 4rem 0;
}

.contentService {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contentHS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.badgeService {
  background: #ae132014;
  border-radius: 1000px;
  color: var(--subtitle-text-resalt);
  width: fit-content;
}

.badgeServiceText {
  padding: 0.3rem 1.2rem;
  margin: 0;
}

.badgeServiceTitle {
  font-size: 48px;
  color: var(--title-text);
  max-inline-size: 24ch;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  margin-bottom: 0;
  line-height: 1.1;
}

.badgeServiceResalt {
  color: var(--service-title);
}

.badgeServiceSubtitle {
  margin-top: 1.8rem;
  font-size: 18px;
  max-inline-size: 70ch;
  white-space: normal;
  overflow-wrap: break-word;
  text-align: center;
  color: var(--subtitle-text);
}

.line {
  position: absolute;
  z-index: 0;
  width: 80%;
  height: 2px;
  background: var(--subtitle-text-resalt);
}
.contentServiceCards {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 4rem 2rem;
  gap: 2rem;
}

.btnCita {
  padding: 0.98rem 1.8rem;
  border: none;
  border-radius: 12px;
  background: var(--color-btn);
  color: var(--text);
  font-size: 20px;
  transition: 600ms;
  text-decoration: none;
  cursor: pointer;
}

.btnCita:hover {
  scale: 1.04;
}

@media (max-width: 1024px) {
  .contentServiceCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .badgeServiceTitle {
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {
  .contentServiceCards {
    grid-template-columns: repeat(1, 1fr);
  }
  .badgeServiceTitle {
    font-size: 32px;
    padding: 0 1rem;
  }

  .badgeServiceSubtitle {
    font-size: 16px;
    padding: 0 1.5rem;
  }

  .btnCita {
    font-size: 18px;
    padding: 0.85rem 1.2rem;
  }
}
