:root {
  /* Base */
  --bg: #160507;
  --text: #fafafa;

  /* Brand – Burgundy / Wine */
  --brand-900: #2b080d;
  --brand-800: #60111e;
  --brand-700: #8a1d2f;
  --brand-600: #b31533;
  --brand-500: #d12b4a;
  --brand-400: #eb3b60;

  /* UI */
  --surface: #ffffff;
  --surface-muted: #f4edee;
  --border: #e6dadb;
  --muted: #efe8e9;
  --muted-text: #8c5f66;

  /* State */
  --success: #2fbf71;
  --warning: #f5a300;
  --error: #f04747;

  --radius: 0.75rem;

  --color-btn: #cf1323;
}

/* Dark mode */
.dark {
  --bg: #160507;
  --text: #fafafa;

  --surface: #2a0d12;
  --surface-muted: #3b141a;
  --border: #4a1a21;
  --muted-text: #b89a9e;

  --brand-800: #e23a5b;
  --brand-400: #f05c78;
}

body {
  font-family: "Poppins", sans-serif;
}
