---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import BenefitsSection from "../sections/BenefitsSection.astro";
import CTASection from "../sections/CTASection.astro";
import HeroSection from "../sections/HeroSection.astro";
import MethodSection from "../sections/MethodSection.astro";
import PainPointsSection from "../sections/PainPointsSection.astro";
import ServicesSection from "../sections/ServicesSection.astro";
import TestimonialsSection from "../sections/TestimonialsSection.astro";
---

<Layout>
  <Header />
  <main>
    <HeroSection />
    <PainPointsSection />
    <MethodSection />
    <ServicesSection />
    <BenefitsSection />
    <TestimonialsSection />
    <CTASection />
  </main>
  <Footer />
</Layout>
