.cardTestimonial {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.288);
    border-radius: 1rem;
    background: #ffffff;
    position: relative;
    padding: 1.5rem;
}

.iconQuote {
    position: absolute;
    top: -1.2rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-btn);
    border-radius: 1000px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.062);
    width: 40px;
    height: 40px;
}

.contentRating {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: .3rem;
}

.textQuote {
    color: #310c0f;
    padding: 1.5rem 0;
}

.textHighligth {
    font-weight: 600;
    padding: 0.3rem 1.2rem;
    margin: 0;
    background: #ae132014;
    border-radius: 1000px;
    color: var(--subtitle-text-resalt);
    width: fit-content;
}

.contentUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.userData {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

.textName {
    color: #310c0f;
    font-weight: 600;
    font-size: 17px;
}

.textRole {
    color: var(--subtitle-text);
    font-size: 14px;
}

.textCompany {
    font-size: 14px;
    font-weight: 600;
    color: var(--subtitle-text-resalt);
}

.line {
    margin: 1.5rem 0;
    width: 100%;
    height: 1px;
    background: rgba(128, 128, 128, 0.288);
}

@media (max-width: 1024px) {
    .cardTestimonial {
        width: 320px;
    }
}