.card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 1.5rem 1rem;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.105);
  border-radius: 16px;
  margin-bottom: 2rem;
  width: 280px;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  display: flex;
  align-items: center;
  background: #d61f2e52;
  border-radius: 8px;
  padding: 0.3rem;
  width: fit-content;
}

.title {
  color: var(--text);
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  line-height: 1.1;
}

.subtitle {
  color: rgba(255, 255, 255, 0.53);
  margin: 0;
  text-wrap: wrap;
  line-height: 1.2;
}
