---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Bravvo Consulting | Consultoría Estratégica para PYMES</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--text);
  }
</style>
